//table
.w-100
{
  width: 100%;
}

.h-100
{
  height: 100%;
}

.pd-10
{
  padding: 10px;
}

.pd-4
{
  padding: 4px;
}
//font

.fs-16
{
  font-size: 16px;
}
.fs-11
{
  font-size: 11px;
}

.fw-400
{
  font-weight: 400;
}

.fs-600
{
  font-weight: 600;
}

.ff-cal
{
  font-family: Calibri;
}

.product-cotainer{
  padding: 10px 150px;
  display: flex;
  flex-wrap: wrap;
}
.product
{
  box-shadow: -4px 6px 6px -6px #00000070;

}
.product-cotainer .product{
  flex: 1 1 0px;
  /*Start Run Code Snippet output CSS*/
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  /*End Run Code Snippet output CSS*/
}

.color-blue{
  color: darkblue;
}
